@charset "utf-8";

* {
	margin: 0;
	padding: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.clearfix {
  min-height: 1px;
}
* html .clearfix {
  height: 1px;
  /*\*//*/
  height: auto;
  overflow: hidden;
  /**/
}

.fl {
	float: left;
}

.flimg img {
	float: left;
}
.fldiv {
	width: 980px;
}
.fldiv div {
	float: left;
}
.rblock {
	position: relative;
}
.ablock {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.rblock img, .ablock img {
	display: block;
}
.pblock img {
    display: block;
	width: 100%;
}

.tx {
	width: 100%;
	position: absolute;
}
li {
	list-style: none;
}
img {
	border: 0;
	vertical-align: top;
}
a {
	color: #0099FF;
	outline: none;
}

a:hover {
	outline: none;
}
a:focus {
	outline: none;
}

html {
	width: 100%;
	background: #000000;
	overflow-y: scroll;
}
body {
	width: 100%;
}
#wrapper {
	width: 100%;
	position: relative;
	overflow: hidden;
}
.wrapper {
	width: 100%;
}
#lovl {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10000;
    background: #000000;
}
#loadimg {
    position: absolute;
    width: 66px;
    height: 66px;
    left: 50%;
    top: 50%;
    margin-left: -33px;
    margin-top: -33px;
    -webkit-animation: a_load_img 0.7s linear 0s infinite;	
    animation: a_load_img 0.7s linear 0s  infinite;	
}
@-webkit-keyframes a_load_img {
	0%   {-webkit-transform:rotate(0%);}
	100% {-webkit-transform:rotate(360deg);}
}
@keyframes a_load_img {
	0%   {transform:rotate(0%);}
	100% {transform:rotate(360deg);}
}

.contents {
	position: relative;
	width: 980px;
	margin: 0 auto;
}
#grt { height: 0; overflow: hidden; }

.ptop {
	position: fixed;
	right: 0;
	bottom: 7em;
	width: 192px;
    z-index: 200;
}

#wrapper {
}
#bg {
    position: relative;
    width: 1800px;
    min-height: 726px;
    left: 50%;
    margin-left: -900px;
    background: url(../images/top/bg.png) left top no-repeat;
}
#ytp_n {
	background:url(../images/top/mvbg.jpg) center center no-repeat;
	background-size: 100% auto;
}
#topwrapper2 {
    width: 100%;
    left: 0;
    top: 0;
    min-height: 137px;
    background-color: #000000;
}
#topwrapper2 .contents {
}
#top h1 {
    position:  absolute;
    left: 462px;
    top: 74px;
}
#t02 {
    position: absolute;
    left: 586px;
    top: 204px;
}
#t03 {
    position: absolute;
    left: 673px;
    top: 0px;
}
#t03_01 {
    position: absolute;
    left: 776px;
    top: 526px;
    z-index: 2;
}
#t04 {
    position: absolute;
    left: 1161px;
    top: 77px;
}
#menu {
    position:  fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: url(../images/common/menu/header_bg.png) left top repeat-x;
    height: 58px;
    z-index: 10;
}
#top #menu {
    position: absolute;
}
#menu_i {
    position: relative;
    width: 994px;
    margin: 0 auto;
}
#menu li {
    float: left;
}
#menu li a { display: block; position: relative;}
#menu li img { display:  block;}
#menu .new {
    position:  absolute;
    left: 16px;
    top: 0;
    background: url(../images/common/menu/new.png) left top no-repeat;
    width: 44px;
    height: 0;
    padding-top: 15px;
    overflow: hidden;
}
#menu #m01 .new {
    left: 16px;
}
#topmain {
    position: relative;
}
#topfooter {
    position: relative;
    min-height: 126px;
    background: #000;
}
#banners {
    position: relative;
    background: #000;
    padding: 36px 0;
    min-height: 64px;
    width: 820px;
    margin: 0 auto;
}
#banners li {
    list-style: none;
    float: left;
    margin: 0 3px 7px 7px;
}
#bn_jvc2017 {
    position: absolute;
    left: 18px;
    top: 367px;
    z-index:3;
}
#topbn1 {
    position: absolute;
    left: 18px;
    top: 272px;
    z-index:4;
}
#topbn6_psv { position: absolute; left: 223px; top: 87px; }
#topbn6_ps4 { position: absolute; left: 15px; top: 87px; }
#topbn1 a:hover {
    opacity: 0.7;
}
#topbn2 {
    position: absolute;
    left: 18px;
    top: 416px;
    z-index:4;
}
#topbndse {
    position: absolute;
    left: 266px;
    top: 560px;
    z-index:4;
}
#topmvf {
	position: relative;
	width: 245px;
	height: 136px;
	padding: 7px;
	margin-left: 9px;
	overflow: hidden;
	background: url(../images/top/r/topmvf.png) left top no-repeat;
	float: left;
	
}
#topmvf a {
	display: block;
	position: absolute;
	left: 7px;
	top: 7px;
}
#news {
	position: relative;
	width: 259px;
	height: 120px;
	margin-left: 9px;
	overflow: hidden;
/*	background: url(../images/top/newsframe.png) left top no-repeat;*/
	background: url(../images/top/r/tf01.png) left top no-repeat;
	float: left;
}
#news_i {
	position: absolute;
	left: 10px;
	top: 25px;
	width: 242px;
	height: 88px;
}

#newstext {
	position: relative;
	width: 242px;
	height: 88px;
	overflow-y: scroll;
	color: #FBC525;
	font-size: 12px;
	font-family: "¥á¥¤¥ê¥ª", Meiryo, "¥Ò¥é¥®¥Î½Ç¥´ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "£Í£Ó £Ð¥´¥·¥Ã¥¯", "MS PGothic", sans-serif;
}
#newstext ul {
}
#newstext li {
	line-height: 16px;
	min-height: 16px;
	text-shadow: 0px 1px 1px #000;
    margin-bottom: 3px;
}
#newstext li a {
    color: #DC6D00;
    text-decoration: underline;
}
#newstext .date {
    color: #fff;
    display: block;
	font-size: 10px;
}
#btn_topmv {
    position: absolute;
    left: 453px;
    top: 560px;
    width: 142px;
    height: 147px;
    background: url(../images/top/mv/bg_topmv.png) left top no-repeat;
    padding: 4px 4px 5px 4px;
}
#btn_topmv a {
    position: relative;
    display: block;
}
#btn_topmv img { display: block; }
#btn_topmv span { display: block; position: absolute; left: 0; top : 0; width: 234px; height: 147px; }
#btn_itv {
    position: absolute;
    left: 453px;
    top: 560px;
}
#btn_dllink {
    position: absolute;
    left: 266px;
    top: 561px;
}
#btn_dllink img {
    display: block;
}
#btn_dllink a {
    display: block;
}

#dllink_psv { position: absolute; left: 2px; top: 68px; }
#dllink_ps4 { position: absolute; left: 15px; top: 34px; }

#btn_enq {
    position: absolute;
    left: 266px;
    top: 612px;
}
#manual {
    position: absolute;
    top: 665px;
    left: 266px;
}
#btn_manual_ps4 {position:absolute;top: 32px; left: 7px;}
#btn_manual_vita {position:absolute;top: 32px; left: 89px;}
#spec {
    position: absolute;
    right: 11px;
    top: 559px;
}
#t05 {
    position: absolute;
    left: 0;
    top: 0;
}
#t06 {
    position: absolute;
    left: 187px;
    top: 0;
}
#t07 {
    position: absolute;
    left: 341px;
    top: 0;
}
#t08 {
    position: absolute;
    left: 341px;
    top: 50px;
}
#t09 {
    position: absolute;
    right: 0px;
    top: 0px;
}
#tf_platinum {
    position: absolute;
    left: 15px;
    top: 8px;
}
#tf_pslogo {
    position: absolute;
    left: 22px;
    top: 78px;
}
#tf_copy01 {
    position: absolute;
    left: 345px;
    top: 81px;
}
#tf_copy02 {
    position: absolute;
    left: 345px;
    top: 95px;
}
#tf_20th {
    position: absolute;
    right: 0px;
    top: 11px;
}

#snsset a {
    display: block;
	width: 44px;
	height:44px;
}

#sns_tw {
    position:  absolute;
    left: 812px;
    top: 22px;
}
#sns_fb {
    position: absolute;
    left: 745px;
    top: 22px;
}
#sns_mi {
    position: absolute;
    left: 650px;
    top: 40px;
}
#sns_gp {
    position: absolute;
    left: 802px;
    top: 40px;
}
#topmvpopup {
    visibility: hidden;
    width: 0;
    height: 0;
}
#submain {
    padding-top: 89px;
}
#story #submain,
#character #submain,
#movie #submain,
#special #submain {
    padding-top: 58px;
}
#subbtns {
	padding: 5px 0;
	height: 40px;
	background: #000;
	margin-bottom: 10px;
}
#introduction #subbtns,
#keyword #subbtns,
#system #subbtns,
#screenshot #subbtns {
	display: none;
}
.sub #bg {
    position: relative;
    width: 1800px;
    min-height: 836px;
    background-image: none;
    background-color: transparent;
}

#subbg {
    position: fixed;
    width: 100%;
    height: 100%;
    min-height: 836px;
    background: url(../images/common/subbg.png) center top repeat-y;
    z-index: -1;
}
#chr01_main {
	margin-top: -68px;
	position: relative;
}
.sub.c_c01 #bg {
    position: relative;
    width: 1800px;
    min-height: 897px;
    background: url(../images/character/01/bg_c01.jpg) center 50px no-repeat;
 }
.c_c01 #subbg {
    background: transparent;
    /*
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: url(../images/character/01/bg_c01.jpg) center top no-repeat;
    z-index: -1;
    */
    height: 847px;
}
#subbg2 {
    position: fixed;
    width: 100%;
    height: 100%;
    min-height: 836px;
    z-index: -3;
    background: url(../images/introduction/subbg2.jpg) center top repeat-y;
}
.plink li {
    position: absolute;
    list-style: none;
}
.plink li a {
    display: block;
}
.plink li a:hover {
    opacity: 0.7;
}
.plink li img {
    display: block;
}
.lh {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 1800px;
    height: 30px;
}
.lh a { display: block; }
.lh img { display: block; }
.lh a:hover { opacity: 0.7; }
.ss, .sst { position: absolute; }
.ss a,
.sst a{
    display: block;
}
.ss img,
.sst img{
    display: block;
}
.ss_sp01_04, .ss_sp01_13 { position: absolute; }
.ss_sp01_04 a,
.ss_sp01_13 a
{
    display: block;
}
.ss_sp01_04 img,
.ss_sp01_13 img {
    display: block;
}
.sh {
    position: absolute;
    z-index:2;
}

#l_i01_01 { left: 499px; top: 55px; }
#l_i01_02 { left: 894px; top: 55px; }
#l_i01_03 { left: 499px; top: 92px; }
#l_i01_04 { left: 610px; top: 92px; }
#l_i01_05 { left: 910px; top: 92px; }

#i01_01_ss1 { left: 1123px; top:  160px; }
#i01_01_ss2 { left:  200px; top:  394px; }
#i01_02_ss1 { left:  395px; top: 1349px; }
#i01_05_ss1 { left: 1079px; top: 4031px; }
#i01_05_ss2 { left:  337px; top: 4330px; }
#i01_05_ss3 {
    left: 893px;
    top: 4482px;
}
#btn_cs     {
    position: absolute;
    left: 720px;
    top: 4360px;
}

.chrblock {
}

#c02_cv { position: absolute; left: 857px; top: 309px; margin-top: 40px; }
#c04_cv { position: absolute; left: 913px; top: 304px; margin-top: 40px; }
#c05_cv { position: absolute; left: 869px; top: 326px; margin-top: 40px; }
#c06_cv { position: absolute; left: 895px; top: 304px; margin-top: 40px; }
#c07_cv { position: absolute; left: 851px; top: 302px; margin-top: 40px; }
#c08_cv { position: absolute; left: 871px; top: 322px; margin-top: 40px; }
#c09_cv { position: absolute; left: 872px; top: 343px; margin-top: 40px; }
#c10_cv { position: absolute; left: 844px; top: 347px; margin-top: 40px; }
#c11_cv1 { position: absolute; left: 883px; top: 348px; margin-top: 40px; }
#c11_cv2 { position: absolute; left: 1016px; top: 823px; margin-top: 40px; }
#c12_cv { position: absolute; left: 798px; top: 363px; margin-top: 40px; }

#c05_cre { position: absolute; left: 1180px; top: 855px; margin-top: 40px; }
#c06_cre { position: absolute; left: 1048px; top: 394px; margin-top: 40px; }
#c08_cre { position: absolute; left: 1180px; top: 855px; margin-top: 40px; }
#c09_cre { position: absolute; left: 1180px; top: 855px; margin-top: 40px; }
#c10_cre { position: absolute; left: 1180px; top: 855px; margin-top: 40px; }
#c13_cre { position: absolute; left: 1253px; top: 922px; margin-top: 40px; }
#c14_cre { position: absolute; left: 1180px; top: 925px; margin-top: 40px; }
#c15_cre { position: absolute; left: 1180px; top: 855px; margin-top: 40px; }
#c16_cre { position: absolute; left: 1180px; top: 855px; margin-top: 40px; }

/* .c_sy01 #submain { padding-top: 77px; } */
#sy01 { width: 100%; height: 2122px; }
#sy01_01 { position: absolute; left: 352px; top: 226px; }
#sy01_02 { position: absolute; left: 760px; top: 226px; }
#sy01_03 { position: absolute; left: 1065px; top: 226px; }
#sy01_04 { position: absolute; left: 352px; top: 678px; }
#sy01_05 { position: absolute; left: 760px; top: 678px; }
#sy01_06 { position: absolute; left: 1065px; top: 678px; }
#sy01_07 { position: absolute; left: 352px; top: 1154px; }
#sy01_08 { position: absolute; left: 677px; top: 1151px; }
#sy01_07 { position: absolute; left: 352px; top: 1151px; }
#sy01_08 { position: absolute; left: 675px; top: 1151px; }
#sy01_09 { position: absolute; left: 987px; top: 1151px; }
#sy01_10 { position: absolute; left: 352px; top: 1633px; }

#btn_sy01_01 { position: absolute; left: 506px; top: 424px; }
#btn_sy01_02 { position: absolute; left: 821px; top: 424px; }
#btn_sy01_03 { position: absolute; left: 1136px; top: 424px; }
#sy01_01_ss1 { left: 346px; top: 479px; }
#sy01_02_ss1 { left: 686px; top: 477px; }
#sy01_03_ss1 { left: 1015px; top: 474px; }
#sy01_04_ss1 { left: 346px; top: 948px; }
#sy01_05_ss1 { left: 686px; top: 946px; }
#sy01_06_ss1 { left: 1015px; top: 943px; }
#sy01_07_ss1 { left: 374px; top: 1425px; }
#sy01_08_ss1 { left: 685px; top: 1425px; }
#sy01_09_ss1 { left: 1005px; top: 1425px; }
#sy01_10_ss1 { left: 375px; top: 1903px; }

.sy01_new {
  position: absolute;
  left: 428px;
  top: 426px;
  width: 108px;
  height: 0;
  padding-top: 31px;
  overflow: hidden;
  background: url(../images/system/01/sy01_new.png) left top no-repeat;
}
#sy01_04_new {
  left: 423px;
  top: 831px;
}
#sy01_05_new {
  left: 873px;
  top: 911px;
}
#sy01_06_new {
  left: 1009px;
  top: 897px;
}
#sy01_07_new {
  left: 388px;
  top: 1374px;
}
#sy01_08_new {
  left: 705px;
  top: 1374px;
}
#sy01_09_new {
  left: 1018px;
  top: 1374px;
}
#sy01_10_new { left: 385px; top: 1854px; }

#l_sy02_01 { left: 485px; top: 55px; }
#l_sy02_04 { left: 485px; top: 92px; }
#sy02_01_ss2 { left: 972px; top: 237px; }
#sy02_01_ss1 { left: 940px; top: 80px; z-index: 2; }
#sy02_01     { left: 393px; top: 0px; }
#sy02_01_t3 { position: absolute; z-index:3; left: 975px; top: 247px; }
#sy02_01_t4 { position: absolute; z-index:3; left: 1274px; top: 145px; }
#sy02_01_t1 { position: absolute; z-index:3; left: 992px; top: 71px; }
#sy02_01_t2 { position: absolute; z-index:3; left: 1288px; top: 430px; }

#sy02_02 { left: 393px; top: 0px; }
#sy02_02_ss2 { left: 288px; top: 234px; }
#sy02_02_ss1 { left: 903px; top: 75px; }


#sy02_03_ss3 { left: 750px; top: 299px; }
#sy02_03_ss2 { left: 372px; top: 361px; }
#sy02_03_ss1 { left: 307px; top: 81px; }
#sy02_03 { left: 393px; top: 0px; }
#sy02_04_ss1 { left: 894px; top: 328px; }


#l_sy03_01 { left: 499px; top: 55px; }
#l_sy03_02 { left: 912px; top: 55px; }
#l_sy03_03 { left: 499px; top: 92px; }
#l_sy03_04 { left: 769px; top: 92px; }
#sy03_04 { left: 480px; top: 1943px; }
#sy03_03 { left: 480px; top: 1349px; }
#sy03_02 { left: 480px; top: 927px; }
#sy03_01 { left: 473px; top: 490px; }
#sy03_04_ss1 { left: 256px; top: 2037px; }
#sy03_03_ss2 { left: 985px; top: 1598px; }
#sy03_03_ss1 { left: 1031px; top: 1424px; }
#sy03_02_ss1 { left: 292px; top: 1010px; }
#sy03_01_ss1 { left: 912px; top: 565px; }

#l_sy04_01 { left: 501px; top: 55px; }
#l_sy04_02 { left: 862px; top: 55px; }
#l_sy04_03 { left: 501px; top: 93px; }
#l_sy04_04 { left: 778px; top: 92px; }

#sy04_01_01  { left: 473px; top: 448px; }
#sy04_02  { left: 473px; top: 906px; }
#sy04_03  { left: 473px; top: 1752px; }

#sy04_01_ss1 { left: 865px; top: 529px; }
#sy04_03_ss1 { left: 953px; top: 1842px; }
#sy04_04_ss1 { left: 861px; top: 2693px; }
#sy04_05_ss1 { left: 355px; top: 3153px; }
#sy04_05_ss2 { left: 867px; top: 3409px; }
#sy04_06_ss1 { left: 860px; top: 3799px; }
#sy04_07_ss1 { left: 925px; top: 80px; }
#sy04_08_ss1 { left: 325px; top: 242px; z-index: 3;}
#sy04_08_ss2 { left: 658px; top: 182px; z-index: 2;}
#sy04_08_ss3 { left: 1008px; top: 83px; }
#sy04_09_ss1 { left: 966px; top: 74px; }
#sy04_09_ss2 { left: 314px; top: 301px; }
#sy04_10_ss1 { left: 310px; top: 276px; }
#sy04_10_ss2 { left: 928px; top: 84px; }

#sy04_11_ss2 { left: 700px; top: 304px; }
#sy04_11_ss1 { left: 928px; top: 115px; }
#sy04_12_ss1 { left: 266px; top: 74px; }
#sy04_13_ss1 { left: 966px; top: 74px; }

#sy04_14_02 { position: absolute; left: 457px; top: 210px; }
#sy04_14_03 { position: absolute; left: 1029px; top: 201px; }
#sy04_14_04 { position: absolute; left: 1102px; top: 457px; }

#sy04_14_ss1 { left: 662px; top: 192px; }
#sy04_14_ss2 { left: 403px; top: 427px; }
#sy04_14_ss3 { left: 679px; top: 517px; }

#l_sy05_01 { left: 485px; top: 55px; }
#sy05_01_ss1 { left: 936px; top: 69px; z-index: 3; }
#sy05_01_ss2 { left: 940px; top: 308px; z-index: 2; }
#sy05_01_ss3 { left: 585px; top: 427px; }

#sy05_02_ss1 { left: 281px; top: 181px;}
#sy05_02_ss2 { left: 601px; top: 167px;}
#sy05_02_ss3 { left: 902px; top: 151px; }

#l_sy06_01 { left: 485px; top: 56px; }
#l_sy06_02 { left: 805px; top: 56px; }
#l_sy06_03 { left: 485px; top: 92px; }
#sy06_01_ss1 { left: 363px; top: 466px; }
#sy06_01_ss2 { left: 703px; top: 519px; }
#btn_sy06_02_01 { position: absolute; left: 525px; top: 380px; }
#sy06_02 a:hover,
#sy06_03 a:hover {
    opacity: 0.7;
}
#btn_sy06_03_01 { position: absolute; left: 1121px; top: 435px; }
#btn_sy06_03_02 { position: absolute; left: 618px; top: 818px; }
#btn_sy06_03_03 { position: absolute; left: 621px; top: 866px; }
#btn_sy06_03_04 { position: absolute; left: 1103px; top: 866px; }
#btn_sy06_03_05 { position: absolute; left: 621px; top: 1246px; }
#btn_sy06_03_06 { position: absolute; left: 621px; top: 1294px; }
#btn_sy06_03_07 { position: absolute; left: 1103px; top: 1246px; }
#btn_sy06_03_08 { position: absolute; left: 1103px; top: 1294px; }

#l_sy07_01 { left: 488px; top: 55px; }
#sy07_01_ss1 { left: 394px; top: 457px; }
#sy07_01_ss2 { left: 830px; top: 424px; }
#sy07_02 { margin-bottom: 48px; }

#sy07_02_ss1 { left: 847px; top: 85px; }
#sy07_02_ss2 { left: 400px; top: 326px; z-index: 2; }
#sy07_02_ss3 { left: 676px; top: 370px; z-index: 2; }
#sy07_02_ss4 { left: 973px; top: 398px; z-index: 2;}
#sy07_02_ss5 { left: 381px; top: 558px; }

#l_sy08_01 { left: 488px; top: 55px; }
#sy08_01_ss1 { left: 391px; top: 486px; }
#sy08_01_ss2 { left: 834px; top: 539px; }
#sy08_01_ss3 { left: 359px; top: 896px; }
#sy08_01_ss4 { left: 797px; top: 970px; }
#sy08_02_ss1 { left: 458px; top: 247px; }
#sy08_02_ss2 { left: 844px; top: 181px; }
#sy08_03_ss3 { left: 994px; top: 184px; }
#sy08_03_ss1 { left: 357px; top: 274px; }
#sy08_03_ss2 { left: 681px; top: 221px; }


.ssblock {position:  relative; height: 600px;}
.ssblock_a {position:  relative; height: 288px;}
.ssblock_b {position:  relative; height: 288px;}
.ssb1 {left: 519px; top: 0;}
.ssb2 {left: 952px; top: 0;}
.ssb3 {left: 303px; top: 288px;}
.ssb4 {left: 736px; top: 288px;}
.ssb5 {left: 354px; top: 0;}
.ssb6 {left: 305px; top: 142px;}
.ssb7 {left: 1222px; top: 288px;}
.ssb8 {left: 1173px; top: 430px;}

.ssba1 {left: 354px; top: 0; z-index: 1; }
.ssba2 {left: 305px; top: 142px; z-index: 1; }
.ssba3 {left: 519px; top: 0;}
.ssba4 {left: 952px; top: 0;}

.ssbb4 { left: 1173px; top: 142px; }
.ssbb3 { left: 1222px; top: 0px; }
.ssbb2 { left: 736px; top: 0px; }
.ssbb1 { left: 303px; top: 0px; }



.sss a, .ssl a { position: relative; display: block; }
.ssover {position: absolute; left: 0; top: 0; display: none;}
.ssover img { display: block; }
.ssnew {
    display: block;
    position: absolute;
    right: 10px;
    top: 6px;
    width: 62px;
    height: 0;
    padding-top: 20px;
    overflow: hidden;
    background: url(../images/screenshot/ssnew.png) left top no-repeat;
}

/* #character #submain { padding-top: 73px; } */
#chrarrow_l { position: absolute; left: 435px; top: 355px; }
#chrarrow_r { position: absolute; left: 1310px; top: 355px; }
#chrarrow_l a , #chrarrow_r a { display: block; }
#chrarrow_l img , #chrarrow_r img { display: block; }
/* #character.c_c01 #submain { padding-top: 89px; } */
#chrarrow_l a:hover { margin-left: -2px;}
#chrarrow_r a:hover { margin-left: 2px;}
.c_c01.sub #bg { min-height: 897px; }
.tn_chr {
    position: absolute;
}
.tn_chr a { display: block; position: relative; }
.tn_chr img { display: block; }
.tn_chr a span {
    position: absolute;
    right: 0;
    top: 1px;
    width: 45px;
    height: 0;
    padding-top: 15px;
    overflow: hidden;
    background: url(../images/character/01/cnew.png) left top no-repeat;
}
.tn_chr a span.cnew2 {
    position: absolute;
    right: 0;
    top: 1px;
    width: 49px;
    height: 0;
    padding-top: 17px;
    overflow: hidden;
    background: url(../images/character/01/cnew2.png) left top no-repeat;
}
#c01_l li a { position: relative; padding-top: 18px; display: block; }
#c01_l li a span {
    position: absolute;
    left: 2px;
    top: 0;
    width: 45px;
    height: 0;
    padding-top: 15px;
    overflow: hidden;
    background: url(../images/character/01/cnew.png) left top no-repeat;
}

#l_c01_02   { left:  490px; top:   37px; }
#l_c01_03   { left:  640px; top:   37px; }

#tn_c02 { left: 920px; top: 413px; }
#tn_c03 { left: 686px; top: 290px; }
#tn_c04 { left: 735px; top:  85px; }
#tn_c05 { left: 1071px; top: 54px; }
#tn_c05 a span {
    left: 164px;
    top: 177px;
}
#tn_c06 { left: 509px; top: 146px; }
#tn_c07 { left: 558px; top: 580px; }
#tn_c08 { left: 1122px; top: 259px; }
#tn_c09 { left: 337px; top: 310px; }
#tn_c10 { left: 315px; top: 698px; }
#tn_c11 { left: 316px; top: 487px; }
#tn_c12 { left: 957px; top: 673px; }
#tn_c13 { left: 1244px; top: 487px; }
#tn_c14 {
	left: 327px;
	top: 56px;
}

#tn_c15 { left: 1193px; top: 673px; }
#tn_c15 .cnew2 { left: 39px; }
#tn_c16 { left: 175px; top: 487px; }
#tn_c17 { left: 1287px; top: 116px; }
#tn_c17 .cnew2 { left: -4px; top: auto; bottom: -2px; }
#tn_c19 { left: 99px; top: 640px; }
#tn_c18 { left: 1397px; top: 637px; }
#tn_c20 { left: 1312px; top: 316px; }
#tn_c20 .cnew2 { left: 50px; }

#character .ss { margin-top: 40px;}

#c02_ss2 { left: 593px; top: 573px; }
#c02_ss1 { left: 312px; top: 528px; }

#c03_ss1 { left: 472px; top: 837px; }


#c04_ss2 { left: 576px; top: 660px; }
#c04_ss1 { left: 294px; top: 639px; }

#c05_ss1 { left: 294px; top: 648px; }
#c05_ss2 { left: 598px; top: 612px; z-index: 2; }

#c06_ss1 { left: 867px; top: 405px; }
#c06_ss2 { left: 999px; top: 579px; }

#c07_ss1 { left: 368px; top: 699px; }
#c07_ss2 { left: 696px; top: 742px; }

#c08_t { margin-top: -73px; }
#c08_ss1 { left: 299px; top: 637px; }
#c08_ss2 { left: 566px; top: 677px; z-index: 2; }

#c09_ss1 { left: 299px; top: 637px; }
#c09_ss2 { left: 566px; top: 677px; z-index: 2; }

#c10_ss1 { left: 281px; top: 663px; }
#c10_ss2 { left: 566px; top: 684px; z-index: 2; }

#c11_ss2 { left: 647px; top: 693px; }
#c11_ss1 { left: 345px; top: 640px; z-index: 2; }

#c12_ss1 { left: 273px; top: 671px; }
#c12_ss2 { left: 558px; top: 692px; z-index: 2; }

#c13_t { margin-top: -73px; }
#c13_ss1 { left: 272px; top: 683px; }
#c13_ss2 { left: 557px; top: 704px; z-index: 2; }

#c14_t { margin-top: -73px; }
#c14_ss1 { left: 339px; top: 468px; }
#c14_ss2 { left: 607px; top: 538px; z-index: 2; }

#c15_t { margin-top: -73px; }
#c15_ss1 { left: 345px; top: 743px; }
#c15_ss2 { left: 658px; top: 712px; }

#c16_t { margin-top: -73px; }
#c16_ss1 { left: 416px; top: 796px; }
#c16_ss2 { left: 701px; top: 826px; z-index: 2; }

#c17_t { margin-top: -73px; }
#c17_ss1 { left: 382px; top: 775px; }
#c17_ss2 { left: 667px; top: 805px; z-index: 2; }

#c18_t { margin-top: -73px; }
#c18_ss1 { left: 419px; top: 747px; }
#c18_ss2 { left: 739px; top: 717px; z-index: 2; }

#c19_t { margin-top: -73px; }
#c19_ss1 { left: 376px; top: 613px; }
#c19_ss2 { left: 662px; top: 650px; z-index: 2; }

#c20_t { margin-top: -73px; }
#c20_ss1 { left: 413px; top: 745px; }
#c20_ss2 { left: 688px; top: 782px; z-index: 2; }

.cp {
    z-index: 0;
    position: absolute;
}
.ssc1 { z-index: 2; }
.ssc2 { z-index: 1; }
.movies {
    width: 1036px;
    min-height: 338px;
    margin: 0 auto;
    margin-bottom: 50px;
    position: relative;
}
.movieitem {
    position: absolute;
    width: 518px;
    height: 338px;
    padding-bottom: 20px;
}
.mi {
    position: relative;
    width: 518px;
    height: 338px;
}
.mvtitle {
    position: absolute;
    right: 0;
    top: 0;
}
.mvtitle h4 {
    position: relative;
    display: block;
}
.mv_new {
  position: absolute;
    left: 10px;
    bottom: 10px;
  width: 108px;
  height: 0;
  padding-top: 31px;
  overflow: hidden;
  background: url(../images/system/01/sy01_new.png) left top no-repeat;
}
.mv_new2 {
  position: absolute;
    left: 9px;
    bottom: 10px;
  width: 108px;
  height: 0;
  padding-top: 31px;
  overflow: hidden;
  background: url(../images/movie/ns/new.png) left top no-repeat;
}
.movieitem img { display: block; }
.movieitem a { display: block; }

.mvframe {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 498px;
    height: 264px
}
.mvframe a {
    position: relative;
    display: block;
}
.mvframe img { display: block; }
.mvframe span {
    position: absolute;
    left: 0;
    top: 0;
    width: 498px;
    height: 264px
}
#movie #bg {
    min-height: 760px;
}
#m01_05 { left: 25px; top: 0px; }
#m01_04 { right: 25px; top: 0px; }
#m01_03 { left: 25px; top: 0px; }
#m01_02 { right: 25px; top: 0px; }
#m01_01 { left: 25px; top: 0px; }

#nsm01_05 { left: 25px; top: 0; }
#nsm01_04 { right: 25px; top: 0; }
#nsm01_03 { left: 25px; top: 0; }
#nsm01_02 { right: 25px; top: 0; }
#nsm01_01 { left: 25px; top: 0; }

#l_st01_01 { left: 499px; top: 55px; }
#l_st01_02 { left: 499px; top: 89px; }
#st01_01_ss4 { left: 943px; top: 678px; }
#st01_01_ss3 { left: 570px; top: 760px; z-index:2; }
#st01_01_ss2 { left: 284px; top: 678px; }
#st01_01_ss1 { left: 905px; top: 253px; }

#st01_02_ss1 { left: 867px; top: 263px; }

/* special */
#l_sp01_06 { left: 484px; top: 52px; }
#l_sp01_17 { left: 610px; top: 52px; }
#l_sp01_16 { left: 484px; top: 89px; }
#l_sp01_18 { left: 484px; top: 126px; }
#l_sp01_04 { left: 870px; top: 126px; }
#l_sp01_03 { left: 1150px; top: 126px; }
#l_sp01_07 { left: 484px; top: 163px; }
#l_sp01_05 { left: 660px; top: 163px; }
#l_sp01_05 { left: 484px; top: 163px; }
#l_sp01_09 { left: 774px; top: 163px; }
#l_sp01_09 { left: 600px; top: 163px; }
#l_sp01_15 { left: 484px; top: 200px; }
#l_sp01_08 { left: 660px; top: 200px; }
#l_sp01_01 { left: 923px; top: 200px; }
#l_sp01_13 { left: 484px; top: 236px; }
#l_sp01_02 { left: 484px; top: 272px; }

#sp01_info {
    width: 940px;
    margin: 20px auto 20px auto;
}
#sp01_info a:hover {
    opacity: 0.7;
}
#sp01_info li {
    margin-bottom: 5px;
}
#sp01_i2 {
    width: 980px;
    margin: 0px auto 20px auto;
    position: relative;
}
#btn_sp01_i2_vita { position:absolute; width: 28.36%; left: 71.63%; top: 0%; }
#btn_sp01_i2_ps4 { position:absolute; width: 27.75%; left: 47.04%; top: 0%; }
#sp01_i2 a:hover {
    opacity: 0.7;
}

#sp01_01_ss4 { left: 539px; top: 2330px; }
#sp01_01_ss3 { left: 272px; top: 1994px; }
#sp01_01_ss2 { left: 343px; top: 1262px; }
#sp01_01_ss1 { left: 351px; top: 1063px; }

#btn_sp01_02_01 { position: absolute; left: 412px; top: 308px; }
#sp01_02_ss1 { left: 460px; top: 536px; z-index: 2; }
#sp01_02_ss2 { left: 773px; top: 630px; z-index: 2; }
#sp01_02_over { position: absolute; left: 0; top: 0; z-index: 3; }

#btn_sp01_03_01 {
    position: absolute;
    left: 852px;
    top: 1714px; 
}

#sp01_04_slider {
	position: absolute;
	left: 444px;
	top: 471px;
}
#sp01_04_frame {
	position: relative;
	overflow: hidden;
	width: 911px;
	height: 561px;
	margin: 0 auto;
}
#sp01_04_slidelist {
	position: absolute;
	left: 0;
	width: 1822px;
	font-size: 0;
}
#sp01_04_slidelist li {
	display: inline-block;
	width: 911px;
}
#sp01_04_prev {
	display: none;
	position: absolute;
	top: 222px;
	left: 12px;
	z-index: 2;
	cursor: pointer;
}
#sp01_04_next {
	position: absolute;
	top: 222px;
	right: 0;
	z-index: 2;
	cursor: pointer;
}
.sp01_04_detail {
    margin-left: 403px;
}

#sp01_04_menu{
	position: relative;
	z-index: 1;
}

#sp01_04_navi{
	position: absolute;
	left: 0;top: 0;
}

#sp01_04_navi p{
	cursor: pointer;
}

#sp01_04_navi p:hover{
}

#sp01_04_contents3{
	position: relative;
	z-index: 1;
}

#sp01_04_cnt3_slider{
	position: absolute;
    left: 493px;
    top: 329px;
}

#sp01_04_cnt3_prev,
#sp01_04_cnt3_next{
	position: absolute;
	top: 244px;
	z-index: 2;
}

#sp01_04_cnt3_prev{
	left: -48px;
}

#sp01_04_cnt3_next{
	right: -48px;
}


#sp01_04_cnt3_frame{
	position: relative;
	z-index: 1;
	width: 812px;
	height: 576px;
	overflow: hidden;
}


ul#sp01_04_cnt3_slidelist{
	position: absolute;
	width: 3248px;
}

ul#sp01_04_cnt3_slidelist:after{
	content:" ";
	height: 0;
	display: block;
	clear: both;
}

ul#sp01_04_cnt3_slidelist li{
	width: 812px;
	float: left;
}

#sp01_04_04_ss1 { left: 883px; top: 54px; z-index: 2;}
#sp01_04_04_ss3 { left: 628px; top: 455px; }
#sp01_04_04_ss2 { left: 507px; top: 198px; }

#sp01_05_p01 { position: absolute; left: 304px; top: 355px; }
#sp01_05_p02 { position: absolute; left: 811px; top: 355px; }
#sp01_05_p03 { position: absolute; left: 303px; top: 871px; }
#sp01_05_p04 { position: absolute; left: 811px; top: 875px; }


#btn_sp01_06_01 { position: absolute; left: 1260px; top: 238px; }
#btn_sp01_06_02 { position: absolute; left: 1353px; top: 238px; }
#btn_sp01_06_03 { position: absolute; left: 382px; top: 490px; }

#sp01_06 a:hover {
    opacity: 0.7;
}

#sp01_07_02 { position: absolute; left: 1212px; top: 1px; }
#btn_sp01_07_01 { position: absolute; left: 535px; top: 301px; }
#btn_sp01_07_ps4 { position: absolute; left: 886px; top: 300px; }
#btn_sp01_07_vita { position: absolute; left: 1017px; top: 300px; }
#sp01_07 a:hover {
    opacity: 0.7;
}

#btn_sp01_08 { position: absolute; left: 1035px; top: 2359px; }

#sp01_09 a:hover {
    opacity: 0.7;
}
#btn_sp01_09_01 { position: absolute; left: 455px; top: 725px; }
#btn_sp01_09_02 { position: absolute; left: 455px; top: 783px; }

#btn_sp01_10 { position: absolute; left: 1126px; top: 395px; }
#btn_sp01_11 { position: absolute; left: 1126px; top: 424px; }
#btn_sp01_12 { position: absolute; left: 1049px; top: 315px; }

#sp01_13 { padding-bottom: 25px; }
#sp01_13_ss1 { left: 683px; top: 78px; }
#sp01_13_ss2 { left: 754px; top: 396px; }
#sp01_13_ss3 { left: 826px; top: 734px; }
#sp01_13_ss5 { left: 504px; top: 1372px; z-index:2; }
#sp01_13_ss4 { left: 438px; top: 1209px; }
#sp01_13_ss7 { left: 907px; top: 1935px; z-index:2; }
#sp01_13_ss6 { left: 755px; top: 1652px; }
#sp01_13_ss9 { left: 829px; top: 2290px; z-index:2; }
#sp01_13_ss8 { left: 441px; top: 2361px; }
#sp01_13_ss10 { left: 399px; top: 3423px; z-index:2; }
#sp01_13_ss11 { left: 755px; top: 3483px; }
#sp01_13_ss12 { left: 428px; top: 342px; }

#btn_sp01_13_01 { position: absolute; left: 413px; top: 1911px; }

#btn_sp01_14 { position: absolute; left: 950px; top: 290px; }

#btn_sp01_15_01 { position: absolute; left: 832px; top: 295px; }

#btn_sp01_16_01 { position: absolute; left: 889px; top: 1030px; }
#sp01_16_01_ss1 { left: 529px; top: 720px; }
#sp01_16_01_ss2 { left: 809px; top: 912px; }
#sp01_16_01_ss3 { left: 319px; top: 1241px; }
#sp01_16_01_ss4 { left: 825px; top: 1155px; }

#btn_sp01_17_01 { position: absolute; left: 460px; top: 835px; }
#btn_sp01_17_02 { position: absolute; left: 867px; top: 835px; }
#btn_sp01_17_03 { position: absolute; left: 995px; top: 940px; }

#sp01_18_01_ss1 { position: absolute; left: 902px; top: 815px; }
#sp01_18_01_ss2 { position: absolute; left: 1011px; top: 630px; z-index:2; }
#sp01_18_01_ss3 { position: absolute; left: 861px; top: 386px; }



/* keyword */
#keyword #submain {
    min-height: 1594px;
}
.kc {
    position: absolute;
}
#l_kw01_01 { left: 490px; top: 56px; }

#kw01_01_01 { position:absolute; left: 466px; top: 241px; }
#kw01_01_02 { position:absolute; left: 377px; top: 697px; }
#kw01_01_03 { position:absolute; left: 863px; top: 687px; }
#kw01_01_04 { position:absolute; left: 383px; top: 1222px; }

#kw01_01_01_c01 { left: 164px; top: 130px; }
#kw01_01_01_c02 { left: 348px; top: 130px; }
#kw01_01_01_c03 { left: 532px; top: 130px; }

#kw01_01_02_c02 { left: 6px; top: 273px; }
#kw01_01_02_c01 { left: 6px; top: 155px; }

#kw01_01_03_c01 { left: 69px; top: 266px; }
#kw01_01_03_c02 { left: 192px; top: 311px; }

#kw01_01_04_c01 { left: 1px; top: 191px; }


#kw01_02to03 { position:absolute; left: 829px; top: 851px; }
#kw01_01to02 { position:absolute; left: 643px; top: 526px; }
#kw01_03to01 { position:absolute; left: 1117px; top: 539px; }
#kw01_04to03 { position:absolute; left: 854px; top: 1058px; }
#kw01_04to02 { position:absolute; left: 599px; top: 1049px; }

/* popup */
#popupmain {
    width: 760px;
    margin: 0 auto;
}
#popupmain a {
    display: block;
}
#popupmain img {
    display: block;
}
#cmvmain,
#cdmain,
#popup_sp01_09 {
    width: 100%;
    margin: 0 auto;
}
#cmvmain a,
#cdmain a,
#popup_sp01_09 a {
    display: block;
}
#cmvmain img,
#cdmain img,
#popup_sp01_09 img {
    display: block;
    width: 100%;
}
#interview {
    width: 100%;
    margin: 0 auto;
}
#interview img {
    display: block;
    width: 100%;
}
#popup_interview {
    position: relative;
}
#itv_close {position:fixed; top:0px; right:0px; }
#itv_close a {display:block; background:url(../images/common/close.png) no-repeat top center; width:60px; height:60px; text-indent:-9999px;}
#itv_close a:hover{background-position:bottom center;}

#popup_info {
    max-width: 800px;
    margin: 0 auto;
    font-size: medium;
    font-family: "¥á¥¤¥ê¥ª", Meiryo, "¥Ò¥é¥®¥Î½Ç¥´ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "£Í£Ó £Ð¥´¥·¥Ã¥¯", "MS PGothic", sans-serif;

}
#popup_info2 {
    max-width: 840px;
    margin: 0 auto;
	line-height: 1.7;
    font-size: medium;
    font-family: "¥á¥¤¥ê¥ª", Meiryo, "¥Ò¥é¥®¥Î½Ç¥´ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "£Í£Ó £Ð¥´¥·¥Ã¥¯", "MS PGothic", sans-serif;
}
#popup_info2 li p {
	margin-top: 1%;
}
.infotext {
    color: #fff;
    padding-bottom: 1em;
    margin-bottom: 2em;
    border-bottom: 2px dotted #ffcc00;
}
#popup_info :last-child {
    border-bottom: none;
}
#popup_info2 :last-child {
    border-bottom: none;
}
.infotext h2 {
	font-weight: bold;
	font-size: large;
	text-align: center;
	margin:1em 0.5em;
}

.infotext_c {
	padding: 0 2em;
    margin-bottom: 2em;
}

.popup_info p {
	text-indent: 1em;
	margin-bottom: 0.5em;
}
.infotext_c {
    margin-bottom: 1em;
}
.infotext_e {
    margin: 2em 1em 2em 1em;
    font-size: small;
}
.infotext_c h3 {
    border-bottom: 1px  dashed #fff;
    margin:  0 0.3em 0.5em;
}
.infotext_c h4 {
    margin-left: 0.5em;
    font-weight: bold;
}
.infotext_c ul {
	padding-left: 1em;
}
.infotext_c li {
	margin-left: 1em;
	text-indent: -1em;
	margin-bottom: 0.8em;
}
.infotext_c li  p {
	text-indent: 0em;
	margin-top: 0.2em;
}
#popup_dlsale a {
	display: block;
}
#popup_dlsale a:hover {
	opacity: 0.7;
}
#popup_dlsale img {
	display: block;
	width: 100%;
}
#tm {
	position: relative;
	padding-top: 62px;
}
#tm01 {
	position: relative;
	width: 945px;
	margin: 0 auto;
}
#top h1{ position: absolute; width: 36.5%; left: 36.5%; top: 1.21%; }
#tp02 { position: absolute; width: 34.28%; left: 0%; top: 0%; }
#tp03 { position: absolute; width: 14.7%; left: 41.16%; top: 22.92%; }
#tp04 { position: absolute; width: 33.22%; left: 53.43%; top: 91.21%; }

#btn_adl { position: absolute; width: 26.45%; left: 14.49%; top: 78.78%; }


#tf02 {
	position: relative;
	float:left;
	margin-left: 3px;
}
#tf02_2 {
	display: none;
}
#tf02_1 img, #tf02_2 img {
	display: block;
	width: 100%;
}
#tf02_1 a,#tf02_1 span,
#tf02_2 a,#tf02_2 span {
	display: block;
}
.tf02_01 { position: absolute; width: 54.63%; left: 1.95%; top: 2.66%; }
.tf02_02 { position: absolute; width: 41.46%; left: 56.58%; top: 2.66%; }
.tf02_03 { position: absolute; width: 96.09%; left: 1.95%; top: 17.33%; }

#tf03 {
	margin-left: 3px;
	float: left;
}
#tf04 {
	position: relative;
	width: 960px;
	margin: 3px auto 0 auto;
}
#bn_dlsale {
	position: relative;
	width: 960px;
	margin: 3px auto 0 auto;
}
#bn_dlsale a:hover {
	filter: brightness(130%);
}

#tb {
	position: relative;
	width: 980px;
	height: 392px;
}
#tf13 { position: absolute;  width: 97.95%; left: 0.91%; top: 82.65%; }
#tf10 { position: relative;  width: 97.95%; margin-left: 0.91%; margin-top: 1%; }
#tb06 { position: absolute;  width: 15.4%; left: 34.48%; top: 20.91%; }
#tb05 { position: absolute;  width: 20.61%; left: 13.87%; top: 40.05%; }
#tb04 { position: absolute;  width: 20.61%; left: 13.87%; top: 20.91%; }
#tb03 { position: absolute;  width: 12.95%; left: 0.91%; top: 20.91%; }
#tb02 { position: absolute;  width: 9.79%; left: 89.18%; top: 0%; }
#tb01 { position: absolute; width: 64.38%; left: 0.91%; top: 0%; }

#tf09 { position: absolute; width: 48.97%; left: 1.02%; top: 70.15%; }
#tf08 { position: absolute; width: 48.97%; left: 1.02%; top: 61.47%; }
#tf07 { position: absolute; width: 48.97%; left: 1.02%; top: 53.57%; }

#tf1112 {
	padding: 0.408% 0;
}
#tf11 { position: relative; width: 71.32%; margin-left:3px; float: left; }
#tf11_ps4 { position: absolute; width: 34.19%; left: 0%; top: 0%; }
#tf11_psv { position: absolute; width: 31.61%; left: 34.19%; top: 0%; }
#tf11_nsw { position: absolute; width: 34.19%; left: 65.8%; top: 0%; }

.newtop {
	display: block;
	background: url(../images/top/r/newtop.png) left top no-repeat;
	width: 69px;
	height: 0;
	padding-top: 23px;
	position: absolute;
	z-index: 2;
}
#tf11 .newtop {
	left: 91px; top: -3px;
}
#enquete .newtop {
	left: 207px; top: 31px;
	background: url(../images/top/r/newe.png) left top no-repeat;
	width: 73px;
	padding-top: 27px;
}
#olm .newtop { left: 19px; top: -10px; }


#tf12 { position: relative; margin-left:0.91%; float: left; width: 476px;}

#tf11 a { display: block;}
#tf11 img { display: block; width: 100%; vertical-align: top; }

#nowonsale { position: absolute; width: 28.78%; left: 54.28%; top: 89.75%; }
#enquete { position: absolute; width: 24.86%; left: 54.28%; top: 75.12%; }

#olm { position: absolute; width: 40.21%; left: 0.42%; top: 75.6%; }
#olm a { float: left; display: block; width: 50%; }
#olm a img { width: 100%; display: block; }

#twitterframe { position: absolute; width: 48.97%; left: 50%; top: 24.74%; }
#twitterwidget { height: 200px; color: #fff; }
#twitterwidget a { color: #f90; }
#subbtns ul {
	position: relative;
	margin: 0 auto;
	width: 980px;
	height: 40px;
}
#subbtns li { position: absolute; }
#subbtns li a { display: block; }
#subbtns li a img { display: block; }
#subbtns li.btn_ns,#subbtns li.btn_cs { width: 48.36%; left: 1.22%; top: 0%; }
#subbtns li.btn_ps,#subbtns li.btn_hm { width: 48.36%; left: 50.4%; top: 0%; }

#l_nssp01_01 { width: 15.38%; left: 48.16%; top: 52.38%; }
#l_nssp01_02 { width: 11.61%; left: 27.94%; top: 74.4%; }
#l_nssp01_03 { width: 8.77%; left: 40.38%; top: 74.4%; }
#l_nssp01_04 { width: 9.72%; left: 50.05%; top: 74.4%; }
#l_nssp01_05 { width: 9.72%; left: 60.61%; top: 74.4%; }
#l_nssp01_06 { width: 19.11%; left: 27.94%; top: 52.38%; }
#l_nssp01_07 { width: 30.77%; left: 27.94%; top: 30.35%; }

#nssp01_01 {
	position: relative;
	margin-bottom: 5.44%;
}
#nssp01_02 {
	position: relative;
}
#nssp01_03 {
	position: relative;
}
#nssp01_04 {
	position: relative;
	margin-top: -11.66%;
}
#nssp01_05 {
	position: relative;
	margin-bottom: 5.44%;
}
#nssp01_06 {
	position: relative;
	margin-bottom: 4.94%;
}
#nssp01_07 {
	position: relative;
	margin-top: 2.16%;
	margin-bottom: 4.94%;
}
#nssp01_05_ss1 { width: 28.33%; left: 49.44%; top: 63.9%; }
#nssp01_05_ss2 { width: 28.33%; left: 49.33%; top: 29.9%; }
